body {
    background-color: #121212;
}

.title-div {
    position: relative;
    text-align: center;
}
.main-title-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-title {
    background: url(spacefade.png);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 5cm;
    padding-top: 75px;
    text-align: center;
    -webkit-text-stroke: 3px #ffffff;
}
.event-details {
    padding-top: 100px;
    text-align: center;
    color: white;
}

.crafts {
    padding-top: 3cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}